.container {
  display: flex;
  width: 750rpx;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top0 {
  margin-top: 0rpx !important;
}

.chart {
  text-align: center;
  margin-top: 100rpx;
}

.btn {
  width: '90%';
  margin: '50rpx 5%';
  padding: '5px';
  border: '1px solid white';
  border-radius: '5px';
  background-color: '#f15858';
  color: 'white';
  font-size: '15px';
}

